.menu {
  flex-grow: 1;
  margin-right: 1.5%;

  /* The Sketch file uses this with for the menu-panel */
  max-width: 400px;
}

.menu h2 {
  text-transform: capitalize;
  font-size: larger;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d9db;
  margin-top: 45px;
}

.menu h2:first-child {
  margin-top: 0;
}

.dish {
  display: flex;
  justify-content: space-between;

  padding: 10px 0;
  border-bottom: 1px solid #d8d9db;
  align-items: baseline;
}

.dishDetails {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.addBtn {
  width: 23px;
  height: 23px;
  padding-bottom: 5px;
  border-radius: 55px;
  border: 1px solid #d8d9db;

  font-size: 26px;
  line-height: 0;
  font-weight: 300;
}

.addBtn:hover {
    background-color: #f1f2f4;
    cursor: pointer;
}

.addBtn:focus {
    outline:none;
}
