* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  color: #333333;
  height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

.app header {
  height: 153px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app h1 {
  color: white;
  font-size: x-large;
}

.wrap {
  display: flex;
  justify-content:center;
  flex-wrap: wrap-reverse;
  margin: 30px 10px;
}
